/* 빨간색 원 알람 (채팅알람 등) 을 디자인합니다. */
.alarm {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: crimson;
}

.alarm__dot {
  width: 7px;
  height: 7px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  right: -5px;
}

.alarm__dot__N {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  width: 17px;
  height: 17px;
  color: white;
  font-size: 11px;
  border-radius: 50%;
  margin-left: 10px;
  font-weight: 600;
}
